<% @students.each do |student| %>

<hr/>
  <p>First Name: <%= student.first_name() %></p>
  <p>Last Name: <%= student.last_name() %></p>
  <p><a href="/hogwarts/<%= student.id %>">Student Details</a></p>
  <hr/>
<hr/>
  <p>House: <%= student.house.name()%></p>
<hr/>
<% end %>
