<form action="/hogwarts" method="post">
  <label for="first-name-field">First Name:</label>
  <input type="text"
  name="first_name"
  id="first-name-field">

  <label for="last-name-field">Last Name:</label>
  <input type="text"
  name="last_name"
  id="last-name-field">

  <label for="age-field">Age:</label>
  <input type="number"
  name="age"
  id="age-field">

  <label for="house-field">House:</label>
  <select id="house-field" name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
  </select>
  <input type="submit" value="Join Hogwarts">
</form>
